nav {
	letter-spacing: .5px;
}

div.search {
	height: 100px;
}

ul.license-filter {
	list-style: none;
	padding-left: 0;
} li {
	display:inline-block;
	padding-right: 5px;

}


/*.search-block form input {
    width: 70%;
    display: inline-block;
}
.search-block form button {
    width: 30%;
}
*/
.draw-line {
    width: 100%;
    height: 1px;
    background-color: black;
}
/*#f9f9f9*/
/*.search-header{
	font-size: 20px;
	border-bottom: solid 2px #D1D2D4;
}*/
.adv-search-inner {
	border-top: solid 2px #D1D2D4;
	background-color: #f9f9f9; 
}

/*.container {
	border: dotted 1px red;

}
*/
/*.col-xs-12 {
	border: solid 1px blue;
}
*/
.col-xs-6 {
	border: solid 1px blue;
}


a.upload.btn {
	margin-top: 8px;
	width: ;
	letter-spacing: .5px;
}

div.adv-search-inner {
	padding-left: 0px;
	padding-right: 0px;
}


td#breakdown {
/*	background-color: grey;*/

} 
td#breakdown div {
	margin-right: auto;
	margin-bottom: auto;
}

#breakdown span {
	height: 35px;
	width: 35px;
	border: 1px solid #D1D2D4;
	border-radius: 4px; 
	margin: 0 3px 0 0;
	display: inline-block;
	text-align: center;
	padding-top: 5px;
	font-weight: bold;
	color: #333;
}

#breakdown .b-one {
	background-color: #B9D989;
} .b-two {
	background-color: #F37A69;
} .b-three {
	background-color: #E6E7E8;
}

#action {
	border-left: 1px solid #D1D2D4;
}

#action button {
	margin-right: 9px;
}

.document-name {
	font-weight: bold;
}












/*Remove if not needed*/
/*table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
*/
