
.search-block form {
    padding: 50px 0 0;
}

.search-block form input {
    width: 70%;
    display: inline-block;
}
.search-block form button {
    width: 30%;
}

.draw-line {
    width: 100%;
    height: 1px;
    background-color: black;
}



/*div.container .row.search-block {
    background-color: pink;
    height: 400px;
}*/

/*div.container .row.search-block div {
    margin-top: 45%;
}*/




/*.search-bar {
    margin-top: 100px;
}

.draw-line {
    width: 1px;
    height: 50px;
    background-color: black;
}

.search-bar input {
    width: 80%;
    padding-right: 2%;
    display: inline-block;

}

.search-block button {
    width: 125px;
}
*/